@font-face {
    font-family: Roboto-Black;
    src: url(fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: Roboto-Medium;
    src: url(fonts/Roboto-Medium.ttf);
}
 
@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}

* {  
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* O seletor [attribute*="value"] é usado para selecionar elementos cujo valor de atributo contém um valor especificado. */
[class*="col-"] {
    float: left;
    padding: 1rem;
    width: 100%;
    border: orange 2px dashed;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 1.5rem;
    border: green 2px dashed;
    font-family: 'Roboto-Regular';
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.menu li:hover {
    background-color: #0099cc;
}

aside {
    background-color: #33b5e5;
    padding: 1rem;
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: orange 2px dashed;
}

footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
    border: orange 2px dashed;
}

.card {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 4rem;
}

.cards {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* Para telas de dispositivos extra pequenos (600px e menores) */
@media only screen and (max-width: 600px) {
    /* extra small */
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
}

/* Para telas de dispositivos pequenos: tablets e smartphones (600px e superiores) */
@media only screen and (min-width: 600px) {
    /* Para tablets */
    /* small */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

/* Para telas de dispositivos médios: projetores e monitores antigos (768px e superiores) */
@media only screen and (min-width: 768px) {
    /* Para projetores 3x4: */
    /* medium */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

/* Para telas de dispositivos grandes: notebooks e desktops em geral (992px e maiores) */
@media only screen and (min-width: 992px) {
    /* Para notebooks e desktops: */
    /* large */
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
}

/* Para telas de dispositivos extra grandes: notebooks, desktops, TVs (992px e maiores) */
@media only screen and (min-width: 1200px) {
    /* Para TVs: */
    /* extra large */
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
}
